<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConsoleRPG</title>

    <!-- CSS / Style -->
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/index.css" />

    <!-- JS / Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/script/state.js"></script>
    <script src="/script/index.js"></script>
</head>
<body>
    <div class="container" id="main-container">
        <div class="main-title"></div>
        <div class="main-sub-title"></div>
        <div class="main-button-box">
            <button class="main-button font" data-text="로그인">▸ 로그인 ◂</button>
            <button class="main-button font" data-text="회원가입">회원가입</button>
            <button class="main-button font" data-text="설정">설정</button>
        </div>
    </div>

    <div class="container" id="login-container">
        <div class="login-title"></div>
    </div>
</body>
</html>